CellAO/Built
CellAO/_ReSharper.CellAO
/CellAO/AO.Servers/ChatEngine/obj
/CellAO/AO.Servers/LoginEngine/obj
/CellAO/AO.Servers/ZoneEngine/obj
/CellAO/Libraries/out
/CellAO/Libraries/Source/AO.Core/obj
/cellao/libraries/source/CellCore/obj
/cellao/libraries/source/Built
/cellao/libraries/source/CellCore/obj
/CellAO/Libraries/Source/AO.Core/obj
/CellAO/Libraries/Source/ISComm/bin
/CellAO/Libraries/Source/ISComm/obj
/cellao/libraries/source/zlib/source/bin
/cellao/libraries/source/zlib/source/obj
/cellao/libraries/source/MathNumerics/obj
/cellao/libraries/source/NBug/NBug/obj
/cellao/libraries/source/NBug/NBug/bin
/cellao/libraries/out
/cellao/Built
/cellao/Libraries/Source/AO.Core/AO.Core.XML
/.svn
/CellAO/Libraries/Source/CellCore/obj
/CellAO/Libraries/Source/zlib/source/obj
/CellAO/Libraries/Source/zlib/source/bin
/CellAO/CellAO.suo
/CellAO/AO.Servers/ChatEngine/Properties/AssemblyInfo.cs
/cellao/ao.servers/LoginEngine/Properties/AssemblyInfo.cs
/cellao/ao.servers/ZoneEngine/Properties/AssemblyInfo.cs
/cellao/CellAO.suo
/CellAO/AO.Servers/LoginEngine/StyleCop.Cache
*.Cache
*.DotSettings
*.User
/CellAO/AO.Servers/ChatEngine/Settings.StyleCop
