<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CreateStatelEvents.Properties.Settings.cellaoConnectionString" connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=cellao" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
